.test{
    width: 810px;
    height: 240px;
    background-image: url(../../img/auth_2.jpg), url(../../img/auth_1.jpg),  url(../../img/auth_3.jpg);
    background-size: 213px 202px, 301px 247px,   297px 240px;
    background-repeat: no-repeat;
    background-color:red;
background-position:  200px 120px, 0px 0px, 580px 0px;
}